name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@2038f7523e4ab93e52eb420a64e95f3b50edbe0a
    with:
      bench: false
      os: ubuntu-latest