name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@e9a0541869681c30de7e16c4f7b70f03c23dd472
    with:
      bench: false
      os: ubuntu-latest