name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@edd880b5448475bd00b1136cb875c13d8dd506f4
    with:
      bench: false
      os: ubuntu-latest