name: ci
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: langston-barrett/gha/.github/workflows/rust-ci.yml@9137259cab1d86dbeae3bde37898a2dfe6a12130
    with:
      bench: false
      os: ubuntu-latest